.hidden {
	display: none;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 45%;
    float:  left;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

button {
    padding: 10px 15px;
     background-color: #4CAF50;
    color: white;
}
button:hover{
    border-radius: 6px;
}

input{
	padding: 12px;
}

.ui-dialog{
	border: 1px solid black;
	background: white;
	border-radius: 5px;
	
}
#formOrder input{
	width: 100%;
	box-sizing: border-box;
	padding: 12px;
}

